.navbar {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;

  background-color: white;
  border: 1px solid #008f83;
  z-index: 10;
}

.navbar__link {
  padding: 10px;
  color: #008f83;
  font-size: 20px;
  text-decoration: none;
}

.navbar__link:hover {
  background-color: #f1f5f9;
}